@font-face{
    
}

html {
    font-size: 12px;
    font-family: 'Lobster Two';
}


body,div, header, h1,h2,h3,h4,h5,h6, h7 section, figure, p,a,footer,img,nav,span{
    margin:0 auto;
    padding:0;
    border: 0;
}
/*generic info*/
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
footer{
    border-radius: 35px 35px 0 0;
    border: 2px solid #91845a;
    background-color: #91845a;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}
footer p{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 1em 0 0;;
}

footer a{
    font-size: 18px;
}
/* navigation */
nav{
    float: right;
    font-size: 20px;
    padding-left: 20%;
    position: relative;
    padding-right: 3%;
    padding-top: 2%;
}

a:link{
    font-family: 'Pacifico', Georgia, serif;
    color: 	 #1288d1;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}

/* visited link */
a:visited {
    color: 	#1288d1;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}

/* mouse over link */
a:hover {
    color: #ff7f50;
    text-decoration: none;
    
}

/* selected link */
a:active {
    color: #1288d1;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}
 /* padding between links*/
#aboutme{
    padding: 0 10px 0;
}
#achievements{
    padding: 0 10px 0;
}
#photos{
    padding: 0 10px 0;
}

#experience{
    padding: 0 10px 0;
}
/* end of navigation */


/*main page*/

.mainpage{
    margin: 0 auto;
    padding: 0 0 2em;
   
}
.head{
    padding-bottom: 4em;
    
}
h1{
    font-family: 'Abril Fatface', Georgia, serif;
    color: 	 #000000;
    font-size: 45px;    
    float: left;
    padding-top: 1%;
    padding-left: 2%;
}
h2{
    color:  #ee1c48;
    font-family: 'Lobster Two';
    font-size: 48px;
    text-shadow: 2px 4px #dae4eb;
}

.container {
  margin: 0 auto;
    height: 750px;
    max-width: 1280px;
    padding: 0;
     background-image: url("stepjez.jpeg");
    background-size: 1200px 655px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 3em 0 0em;
}
.welcome{
    font-family: 'Lobster Two';
    color: #f9f9f9;
    padding: 9em 0 0 5em;
    max-width: 500px;
}
.mpinfo{
    padding: 0 0 0 8em;
}

.mpinfo p{
    font-size: 18px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Lobster Two', Helvetica;
    font-size: 24px;
    color:  #f9f9f9;
    z-index: 1;
    
}

span{
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2 {
    display: inline-block;
    font-family: 'Lobster Two', Helvetica;
    font-size: 24px;
    color: #f9f9f9;
    float: left;
    z-index: 1;
}
span{
    text-align: center;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    color: #000000;
    padding: 12px 16px;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown3 {
    display: inline-block;
    font-family: 'Lobster Two', Helvetica;
    font-size: 24px;
    color:  #f9f9f9;
    float: left;

    z-index: 1;
}

span{
    text-align: center;
}

.dropdown-content3 {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    color: #000000;
    padding: 12px 16px;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown4 {
    display: inline-block;
    font-family: 'Lobster Two', Helvetica;
    font-size: 24px;
    color: #f9f9f9;
    float: left;
    z-index: 1;
}

span{
    text-align: center;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    color: black;
}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

.mpsection{
    padding: 5em 0 10em 10em;
}
.mpsection p{
    font-family: 'Cabin';
    color: #f9f9f9;
    font-size: 14px;
}

.social{
    padding: 1em 0 5em ;
    text-align: center;
    margin-top: 1em;
    background-color: #ffffff;
    border: none;
}
.social p{
    color: #000000;
}
#socialble{
    padding: 0;
    
}
h3{
     font-family: 'Lobster Two';
    color: #000000;
    max-width: 500px;
    font-size: 22px;
    float: center;
}

#ig{
    padding-right: 10px;
     vertical-align:text-bottom;
    
}
#email{
padding: 0;
   
    
}
#mail{
    padding:0;
     vertical-align:text-bottom;
}
/* end of main page*/

/* start of achievements page */
.achievements{
    width:100%;
    margin: 0 auto;
  background-color: #f9f9f9; 

}

h4{
    font-family: 'Abril Fatface', Georgia, serif;
    color: #FF7F50;
    text-shadow:2px 2px #000000 ;
    font-size: 45px;    
    float: left;
    padding-top: 1%;
    padding-left: 2%;
}

.acquirement{
    background-image: url("bdiv.jpeg");
    padding: 15em 0 30em;
   background-size: 1280px 960px;
   height: 70%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    text-align: center;   
}

h5{
    color: #ffffff;
    font-family: 'Lobster Two';
    font-size: 64px;
    text-shadow: 2px 4px #91845a;
    text-decoration: underline;
    text-decoration-style: double;
}

.grad-certs{
   margin-top: 2%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    height: auto;
    padding-top: 2em;
}
.grad-certs p{
    color: #000000;
     font-family: 'Lobster Two';
    font-size: 22px;
    padding: 0 2em 1em 0;
}
.grad-certs img{
    height: auto;
    width: 300px; 
}

/* end of achievements */

/* start of experience */
.experience{
    width:100%;
    margin: 0 auto;
  background-color: #000000; 
}


.exp p{
    padding: 0 2em 0 0;
}

.exp{
   /* background-image: url("IMG_6202.jpg"); */
   
    background-size: 816px 612px;
    height: 70%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;    
}

h6{
    color: #ffffff;
    font-family: 'Lobster Two';
    font-size: 64px;
    text-shadow: 2px 4px #91845a;
    text-decoration: underline;
    text-decoration-style: double;
   padding: 5em 1em 1em;
}

/* end of experience */

/* start of photos */
.photos{
    background-image:url("achievements1.jpg") ;
   margin: 0 auto;
    padding: 15em 0 2em;
    background-size: cover;;
    background-repeat: no-repeat;
    text-align: center;    
}

h7{
    color: #ffffff;
        font-family: 'Lobster Two';
    font-size: 64px;
    text-shadow: 2px 4px  #91845a;
    text-decoration: underline;
    text-decoration-style: double;
    text-align: center;
}

.display{
    margin:2em 5em 0 5em;    
    align: top;
    text-align: center;
}

#photophotos{
    padding: 0 0 10px 10px;
    margin: 0 auto;
    height: auto;
    width: 100%;
    align: top;
}

.zhaopian{
    width:100%;
    margin: 0 auto;
  background-color: #ffffff; 
}

/* end of photos*/





